.BandaDetalhesModal {
    font-family: "Exo";
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    max-height: 350px;
    box-sizing: border-box;
    width: 315px;
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  
  .BandaDetalhesModal > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .BandaDetalhesModal__nome {
    font-size: 2em;
    font-weight: 700;
    line-height: 100%;
  }
  
  .BandaDetalhesModal__descricao {
    font-size: 1em;
  }
  
  .BandaDetalhesModal__estilo {
    /* color: darkviolet; */
    font-size: 1em;
  }
  
  .BandaDetalhesModal__foto {
    margin-right: -100px;
    z-index: 0;
  }
  
  @media (max-width: 400px) {
    .BandaDetalhesModal {
      width: 210px;
      height: 100vh;
    }
  
    .BandaDetalhesModal__foto {
      height: 250px;
      margin-top: 50px;
      margin-right: -100px;
    }
  
  
  
    .BandaDetalhesModal__nome {
      font-size: 1.5em;
    }
  
    .BandaDetalhesModal__descricao {
      font-size: 0.9em;
    }
  }